# Server Configuration
NODE_ENV=development
PORT=5000

# Brand Info 
BRAND_NAME=BroLab Entertainment
BRAND_EMAIL=treigua@brolabentertainment.com
BRAND_ADDRESS="Fr, Lille"
BRAND_LOGO_PATH=attached_assets/Brolab logo trans_1752778608299.png


# Session Security
SESSION_SECRET=b02ae809c87ed006129ff90764d881e5650b6dbd337edd82005911431b948635

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:agile-boar-163 # team: treimaine, project: brolab

VITE_CONVEX_URL=https://agile-boar-163.convex.cloud

CLERK_PUBLISHABLE_KEY=pk_test_cmVsaWV2ZWQtY3JheWZpc2gtNy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_CTSYNLxJGZQDIFPx2iEBdPNNUbKDeWrniHauf6UGqn
VITE_CLERK_PUBLISHABLE_KEY=pk_test_cmVsaWV2ZWQtY3JheWZpc2gtNy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_WEBHOOK_SIGNING_SECRET=whsec_123

CLERK_FRONTEND_API_URL=https://relieved-crayfish-7.clerk.accounts.dev

#DATABASE_URL=postgresql://neondb_owner:yIGe2VJcBHuOPiNCCnR+Ie@ep-fresh-dawn-x7v4n2.us-east-1.aws.neon.tech/neondb?sslmode=require

# Supabase Configuration
INVOICE_NUMBER_PREFIX=BRL-2025

# WordPress API Configuration (Backend)
WORDPRESS_API_URL=https://brolabentertainment.com/wp-json/wp/v2
WORDPRESS_USERNAME=treigua
WORDPRESS_APP_PASSWORD=V$0@%%tF3u

# WooCommerce API Configuration
# Backend usage
WOOCOMMERCE_API_URL=https://brolabentertainment.com/wp-json/wc/v3
WOOCOMMERCE_CONSUMER_KEY=ck_50c27e051fee70e12439a74af1777cd73b17607c
WOOCOMMERCE_CONSUMER_SECRET=cs_2dd861aba9c673a82f0dbcd6e5254b25952de699

# Frontend WooCommerce (VITE_ prefix required)
VITE_WC_KEY=ck_50c27e051fee70e12439a74af1777cd73b17607c
VITE_WC_SECRET=cs_2dd861aba9c673a82f0dbcd6e5254b25952de699


# Stripe Price IDs for Subscriptions

# PayPal Configuration (uses secret from Replit)
#VITE_PAYPAL_CLIENT_ID=AcBG30qI8E-0E9lVNufKy7gzjQFx6O2GNHud-uPnZO2VQTRjAiKCKHdQ3UfFPt6WXbpTn0RXFZ8Sjfau
#VITE_PAYPAL_CLIENT_SECRET=EM1HUbZ-OwlvJIjPoWWHNmKtnOD7k4PF-NRpzaie4qZiVX6mUI8y3-yA460lXmpXUongcjKmKG-7Ljl-

# PayPal Production Configuration (vrais paiements)
#PAYPAL_CLIENT_ID=AcBG30qI8E-0E9lVNufKy7gzjQFx6O2GNHud-uPnZO2VQTRjAiKCKHdQ3UfFPt6WXbpTn0RXFZ8Sjfau
#PAYPAL_CLIENT_SECRET=EM1HUbZ-OwlvJIjPoWWHNmKtnOD7k4PF-NRpzaie4qZiVX6mUI8y3-yA460lXmpXUongcjKmKG-7Ljl-
#PAYPAL_MODE=production
#PAYPAL_WEBHOOK_ID=AYnqPBH8H82y67-wiPiygTUATRNfi5e-DbyvCEmiXCNgScP7XYZpbLTvJg5bElM4eSHeJYES-BQQdTIN

# SMTP Email Configuration for Invoice System
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password_here

# Development Tools
VITE_DEV_TOOLS=true

#OPENAI_API_KEY="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"
#OPENAI_BASE_URL="https://openrouter.ai/api/v1"
#OPENAI_MODEL="qwen/qwen3-coder:free"

# PayPal Sandbox Configuration
PAYPAL_CLIENT_ID=AWxHC5SGhCObxTuGL0JoADJnAwZ5UreaaDGI1KYSyEk3S8Wg2Whjqh6oB6KsYmD_-QRHsevuKNf8gV9q
PAYPAL_CLIENT_SECRET=ED9Ruw4woQ_q4G-_M-smUhWXK_tQzr2LAUsoIN9yKf42nMHdSPwWlzSeMOVVZPcpgFO_JDwSHLnW69zD
PAYPAL_MODE=sandbox
PAYPAL_WEBHOOK_ID=AanrVm7PkHbsf6ay-Dcp5MuvGBjYqf8XoVyiYP6V_vTCNONIdjfR9jGS9gvTlFbKhivVNW8N7SpM0k-o